@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* date range custom css */
.swiper-custom-pagination {
  position: absolute !important;
  top: 10% !important;
  transform: translateY(-50%) !important;
  transform: translateX(-4%) !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  align-items: flex-end !important;
  gap: 4rem !important; 
  z-index: 50 !important;
}


.rdrDayToday:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span::after,
.rdrDayToday:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span::after,
.rdrDayToday:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span::after,
.rdrDayToday:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span::after {
  background-color: #fff !important;
}

.rdrDayToday .rdrDayNumber span::after {
  background: #004aad  !important;
}

.rdrMonthAndYearPickers {
  font-size: 16px;
}
.rdrDayNumber,
.rdrWeekDay {
  color: #1e1f23 !important;
  font-weight: 500 !important;
}

@layer base {
  body {
    @apply text-primary bg-body font-montserrat;
  }

  p {
    @apply text-secondary;
  }

  .h1 {
    @apply text-4xl xl:text-[64px] text-primary xl:leading-[72px] font-extrabold mb-[18px];
  }
  .h2 {
    @apply text-4xl mb-6 font-bold;
  }

  .description {
    @apply text-base xl:text-xl xl:leading-8;
  }

  .section {
    @apply w-full h-[80vh] pt-[60px] xl:pt-[30px];
  }
  .btn {
    @apply rounded-[10px] w-full uppercase font-medium text-white tracking-[2px] text-[13px] flex justify-center items-center transition-all duration-300;
  }

  .btn-sm {
    @apply h-14;
  }

  .btn-lg {
    @apply h-16;
  }

  .btn-cta {
    @apply bg-primary h-[54px] rounded-[5px] px-4
    transition-all duration-300;
  }

  .btn-primary {
    @apply bg-primary;
  }

  .btn-secondary {
    @apply bg-secondary;
  }

  .btn-accent {
    @apply bg-accent hover:bg-accent-hover;
  }
  .active {
    @apply text-accent;
  }
}


.SliderThumb {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  padding: 8px;
  background-color: #0A3D62;
  border: none;
  position: relative;
  z-index: 1;
  border-radius: 50%;
}

.SliderThumb:focus::after,
.SliderThumb:active::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 1px dotted white;
  border-radius: 50%;
  pointer-events: none;
}

.SliderThumb:focus::before,
.SliderThumb:active::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: radial-gradient(
    circle,
    rgba(0, 136, 216, 0.4) 60%,
    transparent 70%
  );
  border-radius: 50%;
  z-index: -1;
}


/************************************************************/
/*           Loader OpenStreet map Search                  */
/***********************************************************/
.loader {
  width: 30px;
  aspect-ratio: 1;
  display: grid;
  mask: conic-gradient(from 15deg, #0000, #000);
  animation: l26 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after {
  background: radial-gradient(closest-side at 50% 12.5%, #777777 96%, #0000) 50%
      0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%, #777777 96%, #0000) 0 50%/80% 20%
      repeat-x;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {
    transform: rotate(1turn);
  }
}
